body {
  background-color: white;
}

.app {
  color: #146eb4;
}

.logo {
  font-weight: 600;
  font-size: 32px;
  padding: 10px 0 0 10px;
  color: hsl(34, 100%, 50%);
  font-family: Tahoma, sans-serif;
}

.logo span:nth-child(2) {
  color: white;
}

.app-view-container {
  display: flex;
  flex-direction: row;
  overflow: none;
}

.header {
  height: 60px;
  background-color: #232f3e;
  font-family: Montserrat, sans-serif;
}

.search-container {
  flex: 2;
  min-width: 300px;
}

.listing-container {
  flex: 3;
  min-width: 300px;
}

.paddedContainerHeader {
  border: 1px solid hsl(34, 100%, 50%);
  margin: 10px;
}

.paddedContainerBody {
  padding: 10px;
}

h2 {
  background-color: hsl(34, 100%, 50%);
  padding: 10px;
  margin: 0;
  color: white;
}
